.counter{
  margin: 100px;
  padding: 20px;
  border: 1px solid grey;
}
.light-theme{
  padding: 20px;
  margin-top: 10px;
  border: 1px solid green;
  color: blue;
  background-color: greenyellow;
}
.dark-theme{
  padding: 20px;
  margin-top: 10px;
  border: 1px solid yellow;
  color: red;
  background-color: goldenrod;
}
